.removeFromCartButton {
  cursor: pointer;
}
.emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
}

.emptyCart h1 {
  font-size: 2em;
  color: #ff0000;
  text-align: center;
}

.heading {
  font-size: 3.5rem;
  padding-block: 5rem;
}

.cartDetailsParentContainer {
  margin-inline: 5rem;
  word-break: break-all;
}
.cartProductHeading {
  display: flex;
  justify-content: space-between;
  /* padding: 2rem; */
}

.cartProductHeading p {
  font-size: 1.5rem;
  font-weight: 600;
}
.cartProductHeading p:first-of-type {
  width: 30%;
}

.cartDetailsContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3rem;
  align-items: center;
}

.productThumbnailContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 30%;
}

.productThumbnail {
  background-color: #f8f9fa;
  padding: 1rem;
  box-sizing: border-box;
}

.horizontalLine {
  margin: auto;
  width: 100%;
  height: 1px;
  background: rgb(206, 212, 218, 0.6);
}

.cartProductCard {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.cartTotals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  /* padding: 2rem; */
  border-radius: 20%;
  height: 20vw;
  border: 2px dotted #000000;
}

.cartTotals span:first-of-type {
  font-size: 1.5rem;
}
.cartTotals span:last-of-type {
  font-size: 1.4rem;
  font-weight: 600;
}

.checkoutBtn {
  position: relative;
  display: flex;
  justify-content: center;
}

/* button styling */
.btn {
  font-weight: 400;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 0.5rem 0.8rem;
  box-sizing: border-box;
  margin-inline: auto;
  margin-inline: 0.5rem;
  height: 3rem;
  outline: none;
  border-radius: 0.8rem;
  font-weight: 520;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: rgba(30, 64, 175);
  color: white;
  width: 50%;
  transition: all 0.5s ease;
}

.btn:hover {
  color: rgba(30, 64, 175);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(30, 64, 175);
}

.productQuantityContainer {
  width: 20%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.productQuantityContainer input {
  min-width: 2rem;
  width: 90%;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
}

.productQuantityContainer input[type="number"]::-webkit-inner-spin-button,
.productQuantityContainer input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button !important;
  margin: 0;
  opacity: 1 !important;
}

.productQuantityContainer input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2.5em;
  color: #dc3545;
  margin-bottom: 1em;
  text-align: center;
}

@media (max-width: 768px) {
  .cartDetailsParentContainer {
    margin-inline: 1rem;
  }
  .horizontalLine {
    width: 80vw;
  }
  .cartProductHeading {
    display: none;
  }
  .productPrice {
    display: none;
  }
  .productThumbnailContainer {
    width: 100%;
  }

  .cartProductCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
    border-bottom: 1px solid #ccc;
  }

  .cartDetailsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .cartTotals {
    border: none;
    bottom: 5%;
    background-color: white;
  }
  .cartTotals div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .cartTotals .btn {
    width: 100%;
    min-width: fit-content;
    max-width: 60vw;
  }
  .cartTotals span:first-of-type {
    font-size: 1.5rem;
  }
  .cartTotals span:last-of-type {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
