.footerContainer {
  background-color: rgb(250, 250, 250);
  padding-block: 50px;
}
.footer {
  margin: 50px;
}

.footerContainerTop {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  flex-wrap: wrap;
}

.footerTopBlock {
  display: grid;
  /* gap: 1rem; */
}
.footerTopBlock ul li {
  list-style: none;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footerTopBlockInnerContent {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.link {
  position: relative;
  display: inline-block;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.8px;
  bottom: 0;
  left: 0;
  background-color: #000; /* change this to the color you want for the underline */
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
}

/* /////////////////////////////////////Footer content Middle///////////////////////////////////// */
.footerMiddleContentContainer {
  margin-block: 50px;
  display: flex;
  justify-content: center;
}

.footerColumnLinks {
  display: flex;
  gap: 1rem;
}

.footerSocialLinks {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footerContainerTop {
  margin-block: 50px;
}

.linkedinIcon {
  transition: color 0.3s ease;
}

.linkedinIcon:hover {
  color: #00329f;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .footerLogo {
    text-align: center;
  }
  .footerHeading {
    text-align: center;
  }
  .footerContainerTop {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }

  .footerTopBlock {
    margin-block: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footerMiddleContentContainer {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .footerColumnLinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footerTopBlock ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
  }

  .footerTopBlockInnerContent {
    margin-block: 20px;
  }
  .footerTopBlockInnerContent ul li {
    margin-bottom: 0.5rem;
  }
  .footerTopBlockInnerContent ul li p {
    font-size: var(--font-small);
  }
  .footerTopBlockInnerContent ul li a {
    font-size: var(--font-small);
  }
  .footerTopBlockInnerContent ul li a::after {
    height: 0.5px;
  }
  .footerTopBlockInnerContent ul li a:hover::after {
    height: 0.5px;
  }
  .footerTopBlockInnerContent ul li a:hover {
    color: #000;
  }
  .footerTopBlockInnerContent ul li a {
    color: #000;
  }
  .footerTopBlockInnerContent ul li a::after {
    background-color: #000;
  }
  .footerTopBlockInnerContent ul li a:hover::after {
    background-color: #000;
  }
  .footerTopBlockInnerContent ul li a {
    font-size: var(--font-small);
  }
  .footerTopBlockInnerContent ul li a::after {
    height: 0.5px;
  }
  .footerTopBlockInnerContent ul li a:hover::after {
    height: 0.5px;
  }
  .footerTopBlockInnerContent ul li a:hover {
    color: #000;
  }
  .footerTopBlockInnerContent ul li a {
    color: #000;
  }
  .footerTopBlockInnerContent ul li a::after {
    background-color: #000;
  }
  .footerTopBlockInnerContent ul li a:hover::after {
    background-color: #000;
  }
  .footerTopBlockInnerContent ul li a {
    font-size: var(--font-small);
  }
  .footerTopBlockInnerContent ul li a::after {
    height: 0.5px;
  }
  .footerTopBlockInnerContent ul li a:hover::after {
    height: 0.5px;
  }
  .footerTopBlockInnerContent ul li a:hover {
    color: #000;
  }
}
